{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{header}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css" media="screen"> -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "css/custom.css" %}" media="screen">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    
</head>

<body>
     {% include 'navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">

                {% for post in titles%}

                <div class="card border-collab mb-3">
                    <div class="card-body main-card">
                        <div class="row">
                            <div class="col-md-8">
                                <a href="{% url 'singlepost' post.id %}">
                                        <h4 class="card-title d-inline">
                                            {{post.title}}
                                        </h4>
                                </a>
                                <div class="my-2">
                                    <span class="badge badge-primary">{{post.category}}</span>
                                </div>
                                <p class="text-muted mb-3 text-capitalize"><i>{{post.author.first_name}} {{post.author.last_name}}</i></p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-right text-muted time-pul"><i class="fa fa-clock-o pr-2" aria-hidden="true"></i>{{post.published|naturaltime|capfirst}}</p>
                            </div>
                        </div>
                        
                        <p class="card-text">
                            {{post.body | truncatewords:40 }}
                        </p>

                        <a href="{% url 'singlepost' post.id %}" class="btn btn-collab btn-sm">Read More</a>
                        <a onclick="bookmark('{{post.id}},{{post.title}}')"class="btn btn-collab btn-sm text-white"><i class="fa fa-bookmark pr-2" aria-hidden="true"></i>Bookmark</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-md-4">
                <h5>Trending</h5>
                <div class="card border-collab mb-3">
                    <div class="card-body">
                            <a href="./news-single.html">
                                <h5 class="card-title">Marriage is still Cool</h4>
                        </a>
                        <small class="text-muted time-tren"><i class="fa fa-clock-o pr-2" aria-hidden="true"></i>2 hours ago</small>
                        <p class="card-text mt-2">Evil is a word we use to describe the absence of Good, just as we use the
                            word darkness to describe the absence...</p>

                        <a href="./news-single.html" class="btn btn-outline-secondary btn-collab-outline btn-sm">Read More</a>
                    </div>
                </div>
                <div class="card border-collab mb-3">
                    <div class="card-body">
                            <a href="./news-single.html">
                                <h5 class="card-title">Sarayu Message</h4>
                        </a>
                        <small class="text-muted time-tren"><i class="fa fa-clock-o pr-2" aria-hidden="true"></i>2 hours ago</small>
                        <p class="card-text mt-2">Evil is a word we use to describe the absence of Good, just as we use the
                            word darkness to describe the absence...</p>

                        <a href="./news-single.html" class="btn btn-outline-secondary btn-collab-outline btn-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'footer.html'%}
